<!-- Start Footer Sidebar -->
<div class="fsb_full">	
	<div id="fsb">
		<!-- Start First Collumn -->
		<div class="widget-container widget_recent_posts" data-place="2">
			<h3>Law Office of John Kibbler</h3>
			<p>
				525 North Central Avenue, Suite 3<br />
				Upland California 91786<br />
				(626) 627-8916
			</p>
		</div>
		<!-- Start Second Collumn -->
		<div class="widget-container widget_links">
			<h3>Practice Areas</h3>
			<ul>
				<li><a href="#" title=""></a></li>
				<li><a href="#" title=""></a></li>
				<li><a href="#" title=""></a></li>
				<li><a href="#" title=""></a></li>
				<li><a href="#" title=""></a></li>
			</ul>
		</div>

		<div class="clear"></div>
	</div>
</div>
<!-- End Footer Sidebar -->
<!-- Start Footer  -->
<div class="footer_full">
	<div id="footer">
		<div class="copy">
			<p>Copyright &copy; 2012  &bull;  The Law Office of John Kibbler  &bull;  All rights reserved</p>
		</div>
		<div class="social">
			<a href="#" title="Facebook">
				{{ theme:image file="facebook.png"}}</a>
			<a href="#" title="RSS Feed">{{ theme:image file="rss.png" }}</a>
			<a href="#" title="Twitter">{{ theme:image file="twitter.png" }}</a>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- End Footer  -->

<!-- Theme Hook -->
{{ theme:js file='Includer.js' }}
<script type="text/javascript">Cufon.now();</script>
